@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}


@keyframes shimmer {
  0% {
    transform: translateX(-150%) skewX(12deg);
  }

  100% {
    transform: translateX(150%) skewX(12deg);
  }
}